.ConvocatoryVolunteers {
  .volunteers {
    display: flex;
    flex-direction: column;
    .volunteer {
      border: 1px solid #eaeaea;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 1rem;
      .buttons {
        min-width: 10rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .checkbox {
          cursor: pointer;
          border-radius: 2px;
          margin-left: 0.4rem;
          border: 2px solid #c7c7c7;
          height: 0.7rem;
          width: 0.7rem;
        }
      }
    }
    .volunteer:nth-child(even) {
      background-color: #f2f2f2;
    }
  }
  .dropped {
    p {
      color: #afafaf;
    }
  }
}
